<div>
    <h3>Serviços</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
    <div>
        <ul>
            <li>
                <h3>01</h3>
                <h4>UX Design</h4>
                <p>o Web Development o SaaS Platform Development o Full Stack Development <br><br> We fill in the technology gaps for you.</p>
            </li>
            <li>
                <h3>02</h3>
                <h4>Front-end</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br><br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </li>
            <li>
                <h3>03</h3>
                <h4>Test</h4>
                <p>Designing success through creative web design for your business to be the best. <br><br> Improving customer engagement with enhanced user experience.</p>
            </li>
            <li>
                <h3>04</h3>
                <h4>Delivery</h4>
                <p>Develop your MVP with our experts who help create a solution that solves customer problems. <br><br> We fill in the technology gaps for you.</p>
            </li>
        </ul>
    </div>
</div>