div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background-color: #1A1A1A;
    margin-top: 231px;
    h1 {
        margin-left: 206px;
        font-size: 31px;
        color: #FFFFFF;
    }
    p {
        margin-right: 162px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    div {
        margin-top: 115px;
        h1 {
            margin-left: 30px;
        }
        p {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 410px) {
    div {
        padding: 0px 5px;
        flex-direction: column;
        justify-content: space-evenly;
        h1 {
            margin-left: 0;
        }
        p {
            margin-right: 0;
        }
    }
}