<div>
    <h3>Segmentos</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
    <ul>
        <li>
            <div>
                <img src="assets/icons/ecommerce.svg" alt="e-commerce">
                <h6>E-commerce</h6>
            </div>
            <p>We assist physical and digital retailers, wholesalers, and suppliers to automate commercial operations and business workflows. With e-commerce solutions, ERPS and improvised customer services.</p>
        </li>
        <li>
            <div>
                <img src="assets/icons/fintech.svg" alt="fintech">
                <h6>FinTechs</h6>
            </div>
            <p>We assist physical and digital retailers, wholesalers, and suppliers to automate commercial operations and business workflows. With e-commerce solutions, ERPS and improvised customer services.</p>
        </li>
        <li>
            <div>
                <img src="assets/icons/mobilidade.svg" alt="mobilidade">
                <h6>Mobilidade</h6>
            </div>
            <p>We assist physical and digital retailers, wholesalers, and suppliers to automate commercial operations and business workflows. With e-commerce solutions, ERPS and improvised customer services.</p>
        </li>
        <li>
            <div>
                <img src="assets/icons/entreterimento.svg" alt="entreterimento">
                <h6>Entretenimento</h6>
            </div>
            <p>We assist physical and digital retailers, wholesalers, and suppliers to automate commercial operations and business workflows. With e-commerce solutions, ERPS and improvised customer services.</p>
        </li>
        <li>
            <div>
                <img src="assets/icons/direito.svg" alt="direito">
                <h6>Direito</h6>
            </div>
            <p>We assist physical and digital retailers, wholesalers, and suppliers to automate commercial operations and business workflows. With e-commerce solutions, ERPS and improvised customer services.</p>
        </li>
        <li>
            <div>
                <img src="assets/icons/hospitalidade.svg" alt="hospitalidade">
                <h6>Hospitalidade</h6>
            </div>
            <p>We assist physical and digital retailers, wholesalers, and suppliers to automate commercial operations and business workflows. With e-commerce solutions, ERPS and improvised customer services.</p>
        </li>
    </ul>
</div>